# When you are using DOTT, it is recommended to install the 'ams-dott' package via pip which then pulls in all
# required dependencies.
#
# The following list of requirements is more intended to get you stared (mot probably in a venv) when you plan to
# work on DOTT itself (i.e., add new features, fix bugs, ...)
ams-dott-runtime==1.2
pygdbmi==0.10.0.1
pylink-square
pytest

# more recommendations than actual requirements below this line
pyOCD
pytest-cov
pytest-instafail
pytest-repeat
pyserial
pigpio
matplotlib